<div class="modal-content">
	<form id="addBeach" name="addBeach" role="form" class="form-horizontal" ng-submit="vm.onSubmit()">
		<div class="modal-header">
			<button type="button" ng-click="vm.modal.cancel()" class="close">
				<span aria-hidden="true">×</span>
				<span class="sr-only">Close</span>
			</button>
			<h4 id="myModalLabel" class="modal-title">Add a new beach</h4>
		</div>
		<div class="modal-body">
			<div role="alert" ng-show="vm.formError" class="alert alert-danger">{{vm.formError }}</div>
			<div class="form-group">
				<label for="name" class="col-xs-2 col-sm-2 control-label">Name</label>
				<div class="col-xs-10 col-sm-10">
					<input id="name" name="name" required="required" ng-model="vm.formData.name" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="address" class="col-xs-2 col-sm-2 control-label">Address</label>
				<div class="col-xs-10 col-sm-10">
					<input id="address" name="address" required="required" ng-model="vm.formData.address" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="image" class="col-xs-2 col-sm-2 control-label">Image</label>
				<div class="col-xs-10 col-sm-10">
					<input id="image" name="image" required="required" ng-model="vm.formData.image" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="lat" class="col-xs-2 col-sm-2 control-label">Latitude</label>
				<div class="col-xs-10 col-sm-10">
					<input id="lat" name="lat" required="required" ng-model="vm.formData.lat" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="lng" class="col-xs-2 col-sm-2 control-label">Longitude</label>
				<div class="col-xs-10 col-sm-10">
					<input id="lng" name="lng" required="required" ng-model="vm.formData.lng" class="form-control" />
				</div>
			</div>
			
			<div class="form-group">
				<label for="facilities" class="col-xs-2 col-sm-2 control-label">Facilities</label>
				<div class="col-xs-10 col-sm-10">
					<input id="facilities" name="facilities" required="required" ng-model="vm.formData.facilities" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="info" class="col-xs-2 col-sm-2 control-label">Info</label>
				<div class="col-xs-10 col-sm-10">
					<textarea id="info" name="info" rows="5" required="required" ng-model="vm.formData.info" class="form-control"></textarea>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button ng-click="vm.modal.cancel()" type="button" class="btn btndefault">Cancel</button>
			<button type="submit" class="btn btn-primary">Submit review</button>
		</div>
	</form>
</div>