
<navigation></navigation>
<page-header content="vm.pageHeader"></page-header>
<div class="container">
  
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <label for="filter">Filter results</label>
      <input id="filter" type="text", name="filter", ng-model="textFilter">
      <div class="error">{{ vm.message }}</div>
      <hr>
      <div class="post-preview">
        <div ng-repeat="location in vm.data.locations | filter : textFilter">
          <h3>
            <a href="/#/location/{{ location._id }}/">{{ location.name }}</a>
            <small class="rating-stars" rating-stars rating="location.rating"></small>
             <span class="meinfodia">
               <img src="{{ location.image }}" class="img-rounded pull-right" alt="Cinque Terre" width="150" height="100">
            <span class="badge pull-right badge-primary">{{ location.distance | formatDistance }}</span>
             </span>
            
          </h3>
          <h5 class="address" style='font-weight:normal;'>{{ location.address }}</h5>
          <p>
            <span class="label label-success label-facility" ng-repeat="facility in location.facilities">
              {{ facility }}
            </span>
          </p>
          
           <hr>
        </div>
        
      </div>
      
    </div>
    
  </div>

  <footer-generic></footer-generic>
</div>
